@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
html, body {
    background-color: rgb(46, 33, 33);
    min-height: 50vh;

}

header { 
    background-color: rgba(230, 226, 226, 0.749);
    color: white;
    text-align: center;
    
}
header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 2em;
    padding-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.68);
   
}
header > p {
    padding-bottom: 20px;
    font-family: var(--fonte3);
    text-shadow: 1px 1px 2px black;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 1em;
    font-family: var(--fonte3);
}
section > p {
    padding-bottom: 1em;
}
.normal {
    background-color: white;
    color: black;
}
.imagem {
    color: white;
    background-color: rgb(129, 129, 129);
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.541);
    border: 12px;
    border-radius: 13px;
}
.imagem > p {
    background-color: rgba(0, 0, 0, 0.297);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
    border: 10px;
    border-radius: 12px;
    padding-left: 8px;
}
footer {
    background-color: rgba(230, 226, 226, 0.749);
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    font-family: var(--fonte3);
}
.fa:hover > p {
    color: rgba(172, 24, 24, 0.708);
    text-decoration: underline;
}
#img01{
    background-image: url('../imagens/2.jpg'); 
    background-position: right center;
    

}
#img02 {
    background-image: url('../imagens/3.jpg');
    background-position:right center ;

}